<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		 <add name="projekat_baza" connectionString="Data Source=DESKTOP-NLH7J2U;Initial Catalog=projekat_baza;Integrated Security=True;MultipleActiveResultSets=True"/>
	</connectionStrings>
	<appSettings>
		<add key="ip" value="127.0.0.1"/>
		<add key="port" value="1337"/>
	</appSettings>
</configuration>